{# templates/partials/individual_form.html #}

<div class="container mt-4 text-black">
    <h1 class="text-center"><strong>NDT-Compressive Strength Estimator</strong></h1>
    <p class="text-center"><strong>Please select an NDT method and enter the required information to generate a prediction</strong></p>
</div>

<!-- <form id="indiv-form" onsubmit="event.preventDefault(); if (validateIndividual()) showPredictModal();"> -->
<form id="indiv-form" novalidate>

<!-- NDT Selection -->
    <div class="text-center mb-4">
        <label for="ndt" class="form-label h5">Select an NDT Method:</label>
        <select id="ndt" name="ndt" class="form-select w-50 mx-auto" required>
            <option value="" disabled selected>Select an option</option>
            <option value="upv">Ultrasonic Pulse Velocity (UPV)</option>
            <option value="rh">Rebound Hammer (RH)</option>
            <option value="sonreb">SonReb (UPV + RH)</option>
        </select>
        <div class="error-message text-danger" style="display:none"></div>
    </div>

<!-- Feature Card -->
    <div id="indiv-features-card" class="card mb-4 shadow-sm" style="display:none">
        <div class="card-body">
            <div class="row gx-4">
                <!-- Left column -->
                <div class="col-md-6">
                    <h4 class="section-header"><strong>Metadata</strong></h4>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country: <span class="text-danger">*</span></label>
                        <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip"
                            title="Enter the country where the concrete was produced."></span>
                        <input type="text" id="country" name="country" class="form-control" required>
                        <div class="error-message text-danger" style="display:none"></div>
                    </div>

                    <div class="mb-3">
                        <label for="specimen_type" class="form-label">NDT Specimen Type: <span class="text-danger">*</span></label>
                            <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" 
                            title="Select the type of specimen on which the NDTs were performed."></span>
                        <select id="specimen_type" name="specimen_type" class="form-select" required>
                            <option value="" selected disabled>Select an option</option>
                            <option value="Cylinder - Laboratory">Cylinder - Laboratory Cast</option>
                            <option value="Cylinder - In-situ">Cylinder - Laboratory Drilled</option>
                            <option value="Cylinder - In-situ">Cylinder - Drilled In-situ</option>
                            <option value="Cylinder - On-site">Cylinder - Cast On-site</option>
                            <option value="Cube - Laboratory">Cube - Laboratory Cast</option>
                            <option value="Cube - On-site">Cube - Cast On-site</option>
                            <option value="Element - Laboratory">Element - Laboratory</option>
                            <option value="Element - In-situ">Element - In-situ</option>
                        </select>
                        <div class="error-message" style="color: red; display: none;"></div>
                    </div>

                    <div class="mb-3">
                        <label for="specimen_age" class="form-label">Specimen Age (days): <span class="text-danger">*</span></label>
                            <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" data-bs-html="true" 
                            title="Enter the age of the concrete specimen. If the age is unknown, e.g. for an existing structure, enter an estimation of the construction period in days."></span>
                        <input type="number" id="specimen_age" name="specimen_age" class="form-control" required>
                        <div class="error-message" style="color: red; display: none;"></div>
                    </div>

                    <div class="mb-3">
                        <label for="rebar_present" class="form-label">Was Rebar Present? <span class="text-danger">*</span></label>
                            <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" 
                            title="If the NDT was performed at a location with embedded rebar in the direct path, select True."></span>
                        <select id="rebar_present" name="rebar_present" class="form-select" required>
                            <option value="" selected disabled>Select an option</option>
                            <option value="TRUE">True</option>
                            <option value="FALSE">False</option>
                        </select>
                        <div class="error-message" style="color: red; display: none;"></div>
                    </div>

                    <!-- Concrete specimen features --> 
                    <div class="col-md-10 feature-group">
                        <h4 class="section-header"><strong>Concrete Details</strong></h4>
                        <div class="mb-3">
                            <label for="max_agg" class="form-label">Max Aggregate Size (mm): (optional)</label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" 
                                title="If known, enter the maximum aggregate size used in the concrete mixture in millimeters."></span>
                            <input type="number" id="max_agg" name="max_agg" class="form-control" step="any">
                        </div>

                        <div class="mb-3">
                            <label for="wc_ratio" class="form-label">W/C Ratio: (optional)</label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" 
                                title="If known, enter the water/cement ratio of the concrete mixture."></span>
                            <input type="number" id="wc_ratio" name="wc_ratio" class="form-control" step="any">
                        </div>

                        <div class="mb-3">
                            <label for="design_strength" class="form-label">Target 28-Day Strength (MPa): (optional) </label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" 
                                title="If known, enter the original target 28-day strength for the concrete mixture, in megapascals."></span>
                            <input type="number" id="design_strength" name="design_strength" class="form-control" step="any">
                        </div>
                    </div>
                
                    <div class="col-md-10 feature-group">
                        <h4 class="section-header"><strong>Compression Specimen</strong></h4>
                        <div class="mb-3">
                            <label for="concrete_specimen" class="form-label">Compression Specimen: (optional)</label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" 
                                title="If a compression specimen directly comparable to the NDT specimen exists, describe the geometric shape."></span>
                            <select id="concrete_specimen" name="concrete_specimen" class="form-select">
                                <option value="" selected disabled>Select an option</option>
                                <option value="Cylinder">Cylinder</option>
                                <option value="Cube">Cube</option>
                                <option value="Cube">Core</option>
                            </select>
                            <div class="error-message" style="color: red; display: none;"></div>
                        </div>

                        <div class="mb-3">
                            <label for="height" class="form-label">Concrete Specimen Height (mm): (optional)</label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" 
                                title="Enter the height of the compression specimen in millimeters."></span>
                            <input type="number" id="height" name="height" class="form-control" step="any">
                            <div class="error-message" style="color: red; display: none;"></div>
                        </div>

                        <div class="mb-3">
                            <label for="width_diameter" class="form-label">Concrete Specimen Width/Diameter (mm): (optional)</label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" 
                                title="Enter the width (for cubes) and diameter (for cylinders & cores) of the compression specimen, in millimeters."></span>
                            <input type="number" id="width_diameter" name="width_diameter" class="form-control" step="any">
                            <div class="error-message" style="color: red; display: none;"></div>
                        </div>
                    </div>
                </div>

                <!-- Right column -->
                <!-- UPV-specific features --> 
                <div class="col-md-6">
                    <div id="indiv-upv-block" class="col-md-10 feature-group">
                        <h4 class="section-header"><strong>UPV Details</strong></h4>
                        <div class="mb-3">
                            <label for="upv" class="form-label">UPV Device Brand and Model: <span class="text-danger">*</span>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" 
                                title="Enter the UPV device brand and model (in that order). Ensure the spelling is correct."></span>
                            </label>
                            <input type="text" id="upv_device_brand" name="upv_device_brand" class="form-control" required data-ndt="upv">
                            <div class="error-message" style="color: red; display: none;"></div>
                        </div>

                        <div class="mb-3">
                            <label for="upv" class="form-label">Transducer Diameter (mm): (optional) </label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" 
                                title="Enter the diameter of the transducer used during the UPV test, in millimeters."></span>
                            <input type="number" id="upv_transd_diam" name="upv_transd_diam" class="form-control" step="any" data-ndt="upv" data-optional>
                        </div>

                        <div class="mb-3">
                            <label for="upv" class="form-label">Transducer Frequency (kHz): (optional) </label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" 
                                title="Enter the transducer frequency used during the UPV test, in kHz."></span>
                            <input type="number" id="upv_transd_freq" name="upv_transd_freq" class="form-control" step="any" data-ndt="upv" data-optional>
                        </div>

                        <div class="mb-3">
                            <label for="upv" class="form-label">UPV Standard: <span class="text-danger">*</span></label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" 
                                title="Enter the guidelines which were followed when performing the UPV tests in 'Standard (year)' format."></span>
                            <select id="upv_standard" name="upv_standard" class="form-select" required data-ndt="upv">
                                <option value="" selected disabled>Select an option</option>
                                <option value="ASTM C597 (1983)">ASTM C597 (1983)</option>
                                <option value="ASTM C597 (1989)">ASTM C597 (1989)</option>
                                <option value="ASTM C597 (1994)">ASTM C597 (1994)</option>
                                <option value="ASTM C597 (2002)">ASTM C597 (2002)</option>
                                <option value="ASTM C597 (2009)">ASTM C597 (2009)</option>
                                <option value="ASTM C597 (2016)">ASTM C597 (2016)</option>
                                <option value="ASTM C597 (2022)">ASTM C597 (2022)</option>
                                <option value="bs4408_5">BS 4408: Part 5 (1974)</option>
                                <option value="BS 4408: Part 5 (1974)">BS 1881-203 (1986)</option>
                                <option value="EN 12504-4 (2004)">EN 12504-4 (2004)</option>
                                <option value="EN 12504-4 (2004)">EN 12504-4 (2019)</option>
                                <option value="EN 12504-4 (2004)">EN 12504-4 (2021)</option>
                                <option value="IS 13311: Part 1 (1992)">IS 13311: Part 1 (1992)</option>
                                <option value="UNE 83-308 (1986)">UNE 83-308 (1986)</option>
                                <option value="NBR 8802 (2013)">NBR 8802 (2013)</option>
                                <option value="other_upv">Other</option>
                            </select>
                            
                            <!-- Hidden input for custom standard -->
                            <div id="custom-upv-container" style="display: none; margin-top: 10px;">
                                <label for="custom-upv" class="form-label">
                                    Enter Custom UPV Standard: <span class="text-danger">*</span>
                                </label>
                                <input type="text" id="custom-upv" name="custom_upv" class="form-control" placeholder="Please enter the Standard (year)." data-ndt="upv">
                                <div class="error-message text-danger" style="display:none;"></div>
                            </div>

                            <div class="error-message" style="color: red; display: none;"></div>
                        </div>

                        <div class="mb-3">
                            <label for="upv" class="form-label">Test Type: <span class="text-danger">*</span></label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" title="Select the UPV transmission configuration."></span>
                            <select id="test_type" name="test_type" class="form-select" required data-ndt="upv">
                                <option value="" selected disabled>Select an option</option>
                                <option value="Direct">Direct</option>
                                <option value="Semi-direct">Semi-direct</option>
                                <option value="Indirect">Indirect</option>
                            </select>
                            <div class="error-message" style="color: red; display: none;"></div>
                        </div>

                        <div class="mb-3">
                            <label for="upv" class="form-label">Number of UPV Tests (at each location): <span class="text-danger">*</span></label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" 
                                title="Enter the number of UPV tests performed at each test location. The final reported velocity should be the mean value."></span>
                            <input type="number" id="no_upv_tests" name="no_upv_tests" class="form-control" required data-ndt="upv">
                            <div class="error-message" style="color: red; display: none;"></div>
                        </div>

                        <div class="mb-3">
                            <label for="upv" class="form-label">Velocity, Vp (m/s): <span class="text-danger">*</span></label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" title="Enter the average longitudinal velocity, Vp, in meters per second."></span>
                            <input type="number" id="velocity" name="velocity" class="form-control" required step="any" data-ndt="upv">
                            <div class="error-message text-danger" style="color: red; display: none;"></div>
                        </div>
                    </div>

<!-- RH-specific features -->

                    <div id="indiv-rh-block" class="col-md-10 feature-group">
                        <h4 class="section-header"><strong>Rebound Hammer Details</strong></h4>
                        <div class="mb-3">
                            <label for="rh" class="form-label">RH Device Brand and Model: <span class="text-danger">*</span></label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" 
                                title="Enter the Rebound Hammer device brand and model (in that order). Ensure the spelling is correct.
                                Don't forget to specify the type (e.g. Type N)"></span>
                            <input type="text" id="rh_device_brand" name="rh_device_brand" class="form-control" required data-ndt="rh">
                            <div class="error-message" style="color: red; display: none;"></div>
                        </div>

                        <div class="mb-3">
                            <label for="rh" class="form-label">RH Standard: <span class="text-danger">*</span></label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" 
                                title="Enter the guidelines which were followed when performing the RH tests in 'Standard (year)' format."></span>
                            <select id="rh_standard" name="rh_standard" class="form-select" required data-ndt="rh">
                                <option value="" selected disabled>Select an option</option>
                                <option value="ASTM C805 (1982)">ASTM C805 (1982)</option>
                                <option value="ASTM C805 (1994)">ASTM C805 (1994)</option>
                                <option value="ASTM C805 (1997)">ASTM C805 (1997)</option>
                                <option value="ASTM C805 (2002)">ASTM C805 (2002)</option>
                                <option value="ASTM C805 (2013)">ASTM C805 (2013)</option>
                                <option value="ASTM C805 (2013)">ASTM C805/C805M (2018)</option>
                                <option value="BS 4408: Part 4 (1971)">BS 4408: Part 4 (1971)</option>
                                <option value="BS 1881-202 (1986)">BS 1881-202 (1986)</option>
                                <option value="EN 12504-2 (2001)">EN 12504-2 (2001)</option>
                                <option value="EN 12504-2 (2012)">EN 12504-2 (2012)</option>
                                <option value="EN 12504-2 (2012)">EN 12504-2 (2021)</option>
                                <option value="IS 13311: Part 2 (1992)">IS 13311: Part 2 (1992)</option>
                                <option value="other_rh">Other</option>
                            </select>

                            <!-- Hidden input for custom standard -->
                            <div id="custom-rh-container" style="display: none; margin-top: 10px;">
                                <label for="custom-rh" class="form-label">
                                    Enter Custom RH Standard: <span class="text-danger">*</span>
                                </label>
                                <input type="text" id="custom-rh" name="custom_rh" class="form-control" placeholder="Please enter the Standard (year)." data-ndt="rh">
                                <div class="error-message text-danger" style="display:none;"></div>
                            </div>

                            <div class="error-message" style="color: red; display: none;"></div>
                        </div>

                        <div class="mb-3">
                            <label for="rh" class="form-label">Orientation: <span class="text-danger">*</span></label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" title="Enter the hammer orientation applied during the tests."></span>
                            <select id="orientation" name="orientation" class="form-select" required data-ndt="rh">
                                <option value="" selected disabled>Select an option</option>
                                <option value="Horizontal">Horizontal</option>
                                <option value="Vertical">Vertical</option>
                            </select>
                            <div class="error-message" style="color: red; display: none;"></div>
                        </div>

                        <div class="mb-3">
                            <label for="rh" class="form-label">Number of RH Tests (at each location): <span class="text-danger">*</span></label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" title="Enter the number of rebound hammer tests performed at each test location."></span>
                            <input type="number" id="no_rh_tests" name="no_rh_tests" class="form-control" required data-ndt="rh">
                            <div class="error-message" style="color: red; display: none;"></div>
                        </div>

                        <div class="mb-3">
                            <label for="rh" class="form-label">Rebound Number, RN: <span class="text-danger">*</span></label>
                                <span class="bi bi-question-circle-fill info-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Enter the median rebound number obtained through testing."></span>
                            <input type="number" id="rebound_number" name="rebound_number" class="form-control" required step="any" data-ndt="rh">
                            <div class="error-message text-danger" style="color: red; display: none;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Predict button -->
    <div class="text-center">
        <button id="predict-btn" type="submit" class="btn btn-predict btn-lg" style="display:none">Predict</button>
    </div>

</form>


<!-- Prediction Modal -->
<div class="modal fade" id="predictModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center w-100" id="predictModalLabel">Prediction</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body text-center">
        <h3 id="predict-result" class="fw-bold mb-4"></h3>
        <p id="predict-text" class="mb-3"></p>
      </div>
      <div class="modal-footer justify-content-center">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>







	